# Local
NODE_ENV=development
PORT=3000
ENRICH_CONCURRENCY=3

# PostgreSQL
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=sku_process
POSTGRES_USER=sku_process
POSTGRES_PASSWORD=sku_process_local

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

# Plataforma externa
PLATFORM_CID=
PLATFORM_TOKEN=
PLATFORM_BASE_URL=